<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.wbook" >


    <application
        android:allowBackup="true"
        android:icon="@mipmap/main_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/main_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".BookMenuActivity"/>
        <activity android:name=".SettingActivity"/>
        <activity android:name=".BookActivity"/>
        <activity android:name=".BookRegiActivity"/>
        <activity android:name=".MyBookActivity"/>
        <activity android:name=".ReviewRegiAcivity"/>
        <activity android:name=".ReviewActivity"/>
        <activity android:name=".MyReviewActivity"/>
        <activity android:name=".DeverloperAcitivity"/>
        <activity android:name=".ResourceActivity"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>